.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  @include breakpoint-up(medium) {
    padding-top: 0;
    align-items: unset;
  }

  @include breakpoint-up(large) {
    position: relative;
    margin-left: 55px;
    align-items: center;
  }

  @include breakpoint-up(xlarge) {
    padding-top: 40px;
  }

  @include breakpoint-up(fullhd) {
    margin-left: 0;
  }

  &__logo {
    width: 40px;

    @include breakpoint-up(medium) {
      margin-top: 24px;
      width: 48px;
    }

    @include breakpoint-up(large) {
      margin-top: 0;
    }
  }

  &__toggle {
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      height: 3px;
      width: 24px;
      background: $white;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__line {

    @include breakpoint-up(xlarge) {
      position: absolute;
      height: 1px;
      left: 112px;
      right: 800px;
      background-color: $white;
      opacity: 0.25;
    }
  }

  &__links {

    @include breakpoint-up(medium) {
      padding-right: 46px;
      padding-left: 48px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
    }

    @include breakpoint-up(large) {
      padding-right: 165px;
      padding-left: 123px;
    }

    .selected,
    .selected:hover {
      border-bottom: 3px white solid;
    }

    &__link {
        border-bottom: 3px transparent solid;

      &:hover {
        border-bottom: 3px hsl(231, 77%, 90%) solid;
      }

      span {
        margin-right: 11px;
      }

      @include breakpoint-up(medium) {
        display: inline-block;
        padding: 39px 0;

        &:not(:last-child) {
          margin-right: 37px;
        }
      }
    
      @include breakpoint-up(large) {
        display: inline-block;
        padding: 39px 0;

        &:not(:last-child) {
          margin-right: 48px;
        }
      }

    }
  }

  &__sidebar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    height: 100vh;
    width: 254px;
    bottom: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(81.5485px);

    &__link {
      padding-left: 32px;
      padding: 6px 0 6px 32px;

      span {
        margin-right: 5px;
      }

      &:first-child {
        margin-top: 113px;
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    .selected {
      border-right: 4px $white solid;
    }
  }
}