.header {
  /* desktop */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @include breakpoint-up(large) {
    width: 100%;
    margin-left: 55px;
    margin-top: 40px;
  }

  &__logo {
    width: 40px;

    @include breakpoint-up(medium) {
      width: 48px;
    }
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;

    img {
      margin-top: 4px;
    }
  }

  &__line {

    @include breakpoint-up(large) {
      position: absolute;
      width: 473px;
      height: 1px;
      margin-left: 110px;
      background-color: black;
    }
  }

  &__links {

    @include breakpoint-up(large) {
      padding-right: 165px;
      padding-left: 123px;
      background-color: gray;
    }

    &__link {
      @include breakpoint-up(large) {
        display: inline-block;
        padding: 38px 0;

        &:not(:last-child) {
          margin-right: 48px;
        }
      }
    }
  }
}