// Colors
$dark-blue: hsl(230, 35%, 7%);
$light-blue: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);
$gray: hsl(231, 77%, 90%);

// MQ breakpoints 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
  "fullhd": "120em"
);

$background-images: (
);