.crew {
  text-align: center;

  @include breakpoint-up(medium) {
    height: 87%;
  }

  &__h5 {

    @include breakpoint-up(medium) {
      text-align: left;
    }

    span {
      margin-right: 8px;
      font-weight: bold;
      opacity: 0.25;
    }
  }

  section {

    @include breakpoint-up(medium) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    @include breakpoint-up(large) {
      flex-direction: row-reverse;
    }
  }

  &__content {

    @include breakpoint-up(medium) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__image {

    @include breakpoint-up(medium) {

    }

    &__img {
      height: 223px;
      margin-top: 32px;
      background-size: contain;

      @include breakpoint-up(medium) {
        height: 532px;
      }
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    margin-top: -3px;
    background-color: hsl(231, 15%, 26%);
  }

  &__select {
    margin-top: 32px;

    @include breakpoint-up(medium) {
      margin-top: 0;
      margin-bottom: 40px;
    }

    &__link {
      cursor: pointer;
      height: 10px;
      width: 10px;
      border: none;
      border-radius: 50%;
      background: $white;
      opacity: 0.17;

      &:hover {
        opacity: 0.5;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    .selected,
    .selected:hover {
      opacity: 1;
    }
  }

  &__role {
    margin-top: 32px;
    opacity: 0.5;

    @include breakpoint-up(medium) {
      margin-top: 60px;
    }
  }

  &__name {
    margin-top: 8px;
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 54px;

    @include breakpoint-up(medium) {
      margin-bottom: 40px;
    }
  }
}