.crew {
  text-align: center;

  &__h5 {
    margin-top: 24px;

    span {
      margin-right: 8px;
      font-weight: bold;
      opacity: 0.25;
    }
  }

  &__image {
    height: 223px;
    margin-top: 32px;
  }

  &__line {
    height: 1px;
    width: 100%;
    margin-top: -3px;
    background-color: hsl(231, 15%, 26%);
  }

  &__select {
    margin-top: 32px;

    &__link {
      cursor: pointer;
      height: 10px;
      width: 10px;
      border: none;
      border-radius: 50%;
      background: $white;
      opacity: 0.17;

      &:hover {
        opacity: 0.5;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    .selected,
    .selected:hover {
      opacity: 1;
    }
  }

  &__role {
    margin-top: 32px;
    opacity: 0.5;
  }

  &__name {
    margin-top: 8px;
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 54px;
  }
}