.destination {
  text-align: center;
  height: 100%;

  @include breakpoint-up(large) {
    text-align: left;
  }

  &__h5 {
    margin-top: 24px;

    @include breakpoint-up(medium) {
      text-align: left;
      margin-top: 40px;
    }

    @include breakpoint-up(xlarge) {
      margin-top: 76px;
    }

    span {
      margin-right: 8px;
      font-weight: bold;
      opacity: 0.25;

      @include breakpoint-up (medium) {
        margin-right: 19px;
      }

      @include breakpoint-up (large) {
        margin-right: 28px;
      }
    }
  }

  section {

    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      gap: 50px;
    }

    @include breakpoint-up(xlarge) {
      justify-content: space-around;
      margin-top: 64px;
      gap: 157px;
    }
  }

  &__image {
    width: 170px;
    height: 170px;
    margin-top: 32px;

    @include breakpoint-up(medium) {
      width: 300px;
      height: 300px;
      margin-top: 60px;
    }

    @include breakpoint-up(large) {
      width: 375px;
      height: 375px;
      margin-top: 33px;
    }

    @include breakpoint-up(xlarge) {
      width: 445px;
      height: 445px;
    }
  }

  &__content {

    @include breakpoint-up(large) {
      width: 400px;
      margin-top: -32px;
    }

    @include breakpoint-up(xlarge) {
      width: 472px;
      margin-top: 0;
    }
  }

  &__select {
    height: 28px;
    margin-top: 26px;

    @include breakpoint-up(medium) {
      margin-top: 53px;
    }

    @include breakpoint-up(large) {
      margin-top: 0;
    }

    &__link {
      border: none;
      margin: 0;
      padding: 0;
      padding-bottom: 8px;
      background: none;
      cursor: pointer;

      &:hover {
        border-bottom: 3px hsl(231, 77%, 90%) solid;
      }

      &:not(:last-child) {
        margin-right: 26px;
      }
    }

    .selected,
    .selected:hover {
      color: $white;
      border-bottom: 3px hsl(0, 0%, 100%) solid;
    }
  }

  &__h2 {
    margin-top: 20px;

    @include breakpoint-up(medium) {
      margin-top: 32px;
    }

    @include breakpoint-up(xlarge) {
      margin-top: 37px;
    }
  }

  &__text {
    margin-bottom: 32px;

    @include breakpoint-up(medium) {
      margin-top: 8px;
    }

    @include breakpoint-up(xlarge) {
      margin-top: 14px;
      margin-bottom: 54px;
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    margin-bottom: 32px;
    background-color: hsl(231, 15%, 26%);

    @include breakpoint-up (medium) {
      width: 100%;
      margin-bottom: 28px;
    }
  }

  &__stats {

    @include breakpoint-up(medium) {
      display: flex;
      justify-content: center;
      gap: 100px;
    }

    @include breakpoint-up(large) {
      justify-content: unset;
    }
  }

  &__distance,
  &__traveltime {
    display: flex;
    flex-direction: column;

    .subheading1 {
      margin-top: 12px;
    }
  }

  &__distance {
    margin-bottom: 32px;
  }

  &__traveltime {
    margin-bottom: 58px;
  }
}