.destination {
  text-align: center;
  height: 100%;

  &__h5 {
    margin-top: 24px;

    span {
      margin-right: 8px;
      font-weight: bold;
      opacity: 0.25;
    }
  }

  &__image {
    width: 170px;
    margin-top: 32px;
  }

  &__select {
    height: 28px;
    margin-top: 26px;


    &__link {
      border: none;
      margin: 0;
      padding: 0;
      padding-bottom: 8px;
      background: none;
      cursor: pointer;

      &:hover {
        border-bottom: 3px hsl(231, 77%, 90%) solid;
      }

      &:not(:last-child) {
        margin-right: 26px;
      }
    }

    .selected,
    .selected:hover {
      color: $white;
      border-bottom: 3px hsl(0, 0%, 100%) solid;
    }
  }

  &__h2 {
    margin-top: 20px;
    line-height: 64px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__line {
    height: 1px;
    width: 327px;
    margin-bottom: 32px;
    background-color: hsl(231, 15%, 26%);
  }

  &__distance,
  &__traveltime {
    display: flex;
    flex-direction: column;

    .subheading1 {
      margin-top: 12px;
    }
  }

  &__distance {
    margin-bottom: 32px;
  }

  &__traveltime {
    margin-bottom: 58px;
  }
}