.technology {
  text-align: center;

  @include breakpoint-up(large) {
    text-align: left;
  }

  &__h5 {

    @include breakpoint-up(medium) {
      text-align: left;
    }

    @include breakpoint-up(xlarge) {
      margin-top: 76px;
    }

    span {
      margin-right: 8px;
      font-weight: bold;
      opacity: 0.25;

      @include breakpoint-up (medium) {
        margin-right: 19px;
      }

      @include breakpoint-up (large) {
        margin-right: 28px;
      }
    }
  }

  &__image {
    margin-top: 32px;
    width: 100%;

    @include breakpoint-up(medium) {
      margin-top: 60px;
    }

    @include breakpoint-up(large) {
      width: 515px;
      margin-top: 26px;
    }

    img {
      width: 100%;

      @include breakpoint-up(medium) {
        height: 310px;
        object-fit: cover;
        object-position: bottom;
      }

      @include breakpoint-up(large) {
        height: 375px;
      }

      @include breakpoint-up(xlarge) {
        height: 527px;
      }
    }
  }

  section {

    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 75px;
    }

    @include breakpoint-up(xlarge) {
      gap: 150px;
    }
  }

  &__content {

    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__select {
    margin-top: 34px;

    @include breakpoint-up(medium) {
      margin-top: 56px;
    }

    @include breakpoint-up(large) {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-top: 0;
    }

    &__link {
      cursor: pointer;
      height: 40px;
      width: 40px;
      border: 1px rgba($color: #fff, $alpha: 0.25) solid;
      border-radius: 50%;
      background: none;

      @include breakpoint-up(medium) {
        height: 60px;
        width: 60px;
      }

      @include breakpoint-up(large) {
        height: 80px;
        width: 80px;
      }

      &:hover {
        border: 1px #fff solid;
      }

      &:not(:last-child) {
        margin-right: 16px;

        @include breakpoint-up(large) {
          margin-right: 0;
        }
      }
    }

    .selected,
    .selected:hover {
      border: 1px $white solid;
      background: $white;
      color: $dark-blue;
    }
  }

  &__text {

    @include breakpoint-up(large) {
      margin-left: 80px;
    }
  }

  &__term {
    display: block;
    margin-top: 26px;

    @include breakpoint-up(medium) {
      margin-top: 44px;
    }

    @include breakpoint-up(large) {
      margin-top: 0;
    }
  }

  &__name {
    margin-top: 9px;

    @include breakpoint-up(medium) {
      margin-top: 16px;
    }

    @include breakpoint-up(xlarge) {
      white-space: nowrap;
    }
  }

  &__p {
    margin-top: 16px;
    margin-bottom: 81px;

    @include breakpoint-up(large) {
      width: 444px;
    }
  }
}