.technology {
  text-align: center;

  &__h5 {

    @include breakpoint-up(medium) {
      text-align: left;
    }

    span {
      margin-right: 8px;
      font-weight: bold;
      opacity: 0.25;
    }
  }

  &__image {
    margin-top: 32px;
    width: 100%;

    @include breakpoint-up(medium) {
      margin-top: 60px;
    }
  }

  &__select {
    margin-top: 34px;

    @include breakpoint-up(medium) {
      margin-top: 56px;
    }

    &__link {
      cursor: pointer;
      height: 40px;
      width: 40px;
      border: 1px rgba($color: #fff, $alpha: 0.25) solid;
      border-radius: 50%;
      background: none;

      @include breakpoint-up(medium) {
        height: 60px;
        width: 60px;
      }

      &:hover {
        border: 1px #fff solid;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    .selected,
    .selected:hover {
      border: 1px $white solid;
      background: $white;
      color: $dark-blue;
    }
  }

  &__term {
    display: block;
    margin-top: 26px;

    @include breakpoint-up(medium) {
      margin-top: 44px;
    }
  }

  &__name {
    margin-top: 9px;

    @include breakpoint-up(medium) {
      margin-top: 16px;
    }
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 81px;
  }
}