html {
  box-sizing: border-box;
  margin: 0;

  background-color: #202020;

  @include breakpoint-up(medium) {
    overflow: hidden;
  }

  @include breakpoint-up(large) {
    overflow: unset;
  }
}

html,
body,
#root {
  height: 100vh;
}

#root {

  @include breakpoint-up(medium) {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: hsl(0, 0%, 0%);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}