h1,
h2,
h3,
h4,
p,
.subheading1,
.explore {
  color: $white;
  font-family: 'Bellefair', serif;
  font-style: normal;
  font-weight: normal;
}

h5,
.subheading2,
.header,
.home__h5,
.destination__select__link,
.technology__term {
  color: $white;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: 'Barlow', sans-serif;
  color: $gray;
}

h1 {
  font-size: 80px;
  line-height: 100px;

  @include breakpoint-up(medium) {
    font-size: 150px;
    line-height: 150px;
  }

  @include breakpoint-up(large) {
    line-height: 172px;
  }
}
h2 {
  font-size: 56px;

  @include breakpoint-up(medium) {
    font-size: 80px;
  }

  @include breakpoint-up(large) {
    font-size: 100px;
  }
}
h3 {
  font-size: 24px;

  @include breakpoint-up(medium) {
    font-size: 40px;
  }

  @include breakpoint-up(large) {
    font-size: 56px;
  }
}
h4 {
  font-size: 16px;

  @include breakpoint-up(medium) {
    font-size: 24px;
  }

  @include breakpoint-up(large) {
    font-size: 32px;
  }
}

h5 {
  font-size: 16px;
  letter-spacing: 2.7px;

  @include breakpoint-up(medium) {
    font-size: 24px;
  }
}

p {
  font-size: 15px;
  line-height: 25px;

  @include breakpoint-up(medium) {
    font-size: 16px;
    line-height: 28px;
  }

  @include breakpoint-up(large) {
    font-size: 18px;
    line-height: 32px;
  }
}

.subheading1 {
  font-size: 28px;
}

.subheading2 {
  font-size: 14px;
  letter-spacing: 2.3625px;

  color: $gray;
}

.header {
  font-size: 16px;
  letter-spacing: 2.7px;

  a {
    color: $white;
  }

  span {
    font-weight: bold;
  }

  @include breakpoint-up(medium) {
    font-size: 14px;
    letter-spacing: 2.36px;
    line-height: 16.8px;
  }

  @include breakpoint-up(large) {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
  }
}

.home {

  &__h5 {
    color: hsl(231, 77%, 90%);

    @include breakpoint-up(medium) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 3.38px;
    }

    @include breakpoint-up(large) {
      font-size: 28px;
      line-height: 33.6px;
      letter-spacing: 4.725px;
    }
  }
}

.explore {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 1.25px;
  color: $dark-blue;

  @include breakpoint-up(medium) {
    font-size: 32px;
    line-height: 36.67px;
    letter-spacing: 2px;
  }
}

.destination__select__link {
  font-size: 14px;
  color: $gray;
  letter-spacing: 2.36px;
  line-height: 18.8px;
}

.header__sidebar {
  a {
    color: $white;
  }

  span {
    font-weight: bold;
  }
}

.technology__term {
  color: hsl(231, 77%, 90%);
  font-size: 14px;
  letter-spacing: 2.3625px;
}

.technology__select__link {
  color: $white;
}